<section class="p-5 min-vh-100">
    <div class="container mt-5 pt-5">
        <div class="row text-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card border-0 shadow bg-white">
                    <div class="card-body">
                        <div class="h1">
                           <i class="bi bi-people"></i>  <span class="h3">Account Manager</span>
                           <iframe src="https://customerservice.agentinsure.com/EzlynxCustomerService/paciniins/Account/LogIn" 
                           name="EZLynx Customer Service Portal" 
                           height="1600px" 
                           width="100%" 
                           frameborder="0">
                           Your browser is unable to display frames. Please 
                           <a href="https://customerservice.agentinsure.com/EzlynxCustomerService/paciniins/Account/LogIn">
                           click here</a> 
                           to visit our secure customer service portal.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>