{{! showcase }}

<section class=" text-light p-5 text-center text-sm-start" id="secColor">
  <div class="container mt-4 pt-4">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1 id="title-p1">PIA <span id="title-p2">Insurance Agency</span></h1>
        <p class="lead my-4">Providing insurance to businesses and individuals along central Texas since 2022!</p>
        <a href="/quote"><button class="btn btn-lg" id="quote-btn">Start A New Quote</button></a>
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="showcase.svg" alt="" />
    </div>
  </div>
</section>

{{! feature boxes }}
<section class="p-5 section-boxes" id="features">
  <div class="container" id>
    <h2 class="text-center mb-4">Our Services</h2>
    <div class="row text-center g-4 py-5">
      <div class="col-md">
        <div class="card-body text-light py-5" id="thirdColor">
          <div class="h1 mb-3">
            <i class="bi bi-briefcase"></i>
          </div>
          <div class="container-p">
            <div class="row overlay-p">
                  <div class="col align-self-start align-items-center overlay-text-p">
                    <h1>Personal Lines Carriers</h1>
                    <a href="https://www.travelers.com/go/pi/dtc/brand.html?sponsor=beta72&prd=0M4803&tfn=8662367094&type=brand&obj=acqn&mm=web&mmt=ps&div=pi&mpg=bau&creative=pst&cc=di&prt=auto&dvc=dsktop&pub=Google&cmp=Brand+General+-+TX&grp=Travelers+-+Exact&plc=travelers&gclid=CjwKCAjw9e6SBhB2EiwA5myr9s5jxVN9pYsflsO0McpBF4Il14oMy8239csxJ_lfjciZmKU2nUR8choCyC4QAvD_BwE&gclsrc=aw.ds" target="_blank"><img src="/carrier-logo/travelerslogo.jpeg" alt="Travelers" width="40%"></a>
                  </div>
            </div>
            <h3 class="card-title mb-4">
              Home and Auto Insurance
            </h3>
            <p class="card-text">
              We offer an exceptional service for large and small companies to provide the best insurance for your business.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card-body text-light py-5" id="thirdColor">
          <div class="h1 mb-3">
            <i class="bi bi-briefcase"></i>
          </div>
          <div class="container-c">
            <div class="row overlay-c">
                  <div class="col align-self-center align-items-center overlay-text-c">
                    <h1>Commercial Lines Carriers</h1>
                  </div>
            </div>
            <h3 class="card-title mb-4">
              Business Insurance
            </h3>
            <p class="card-text">
              We offer an exceptional service for large and small companies to provide the best insurance for your business.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card-body text-light py-5" id="mainColor">
          <div class="h1 mb-3">
            <i class="bi bi-people"></i>
          </div>
          <h3 class="card-title mb-3 pb-2">
           Life Insurance
          </h3>
          <p class="card-text">
            We have the ability to quote through multiple carriers to provide our customers with the best possible package.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

{{!about us }}
<section class="p-5 bg-light" id="about">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img class="img-fluid" src="section-1.svg" alt="" />
      </div>
      <div class="col-md p-5">
        <h2>About <span class="about-PIA">PIA</span> Insurance Agency</h2>
        <p class="lead">We take the time to better understand our clients and their insurance needs.</p>
        <p>As an esteemed insurance brokerage, we serve personal and business customers by working closely with our clients to determine the appropriate type of coverage they need. We select the best coverage at the right price and mange each enrollment with great care.</p>
        <a href="#" class="btn btn-warning mt-3">
          <i class="bi bi-chevron-right"></i>
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>

{{! Question Section }}

<section class="p-5 bg-white" id="questions">
  <div class="container my-5">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="questions">
      {{! item 1 }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Where exactly are we located?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">15900 La Cantera Pkwy Suite 6698, San Antonio, TX 78256</div>
        </div>
      </div>
      {{! item 2 }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            How does pricing work?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#questions"
        >
          <div class="accordion-body"> Pricing will be based off your specific needs for coverage, but at PIA we strive to find you the best possible package, searching through our catalog of over 100 different providers <a href="/quote">Start A Quote</a></div>
        </div>
      </div>
      {{! item 3 }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            How to create an account?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#questions"
        >
          <div class="accordion-body"> You can create an account right here! click <a href="/register">register</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

{{! meet the team }}
<section class="p-5" id="team">
  <div class="container">
    <h2 class="text-center mt-3">Our Team</h2>
    <p class="lead text-center mb-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, iusto.
    </p>
    <div class="row g-4 mb-5">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/flo.jpg"
              class="rounded-circle mb-3 img-fluid"
              alt=""
            />
            <h3 class="card-title mb-3">
              Flo Doe
            </h3>
            <p class="card-text text-dark">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, corrupti officia? Sunt cupiditate ducimus tenetur.
            </p>
            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/gecko.jpg"
              class="rounded-circle mb-3 img-fluid"
              alt=""
            />
            <h3 class="card-title mb-3">
              Gecko Doe
            </h3>
            <p class="card-text text-dark">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, corrupti officia? Sunt cupiditate ducimus tenetur.
            </p>
            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/jake.jpg"
              class="rounded-circle mb-3 img-fluid"
              alt=""
            />
            <h3 class="card-title mb-3">
              Jake Smith
            </h3>
            <p class="card-text text-dark">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, corrupti officia? Sunt cupiditate ducimus tenetur.
            </p>
            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/mayhem.jpg"
              class="rounded-circle mb-3 img-fluid"
              alt=""
            />
            <h3 class="card-title mb-3">
              Mayhem Smith
            </h3>
            <p class="card-text text-dark">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, corrupti officia? Sunt cupiditate ducimus tenetur.
            </p>
            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{! contact section }}

<section class="p-5 bg-light" id="contact">
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card border-0 shadow py-5">
          <div class="card-body">
            <h2 class="text-center mb-5">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold"><i class="bi bi-geo-alt-fill pe-3"></i> </span>
                San Antonio, Tx
              </li>
              <li class="list-group-item">
                <span class="fw-bold"><i class="bi bi-telephone-fill pe-3"></i>
                </span>
                (210)-844-7182
              </li>
              <li class="list-group-item">
                <span class="fw-bold"><i class="bi bi-envelope-fill pe-3"></i>
                </span>
                John@paciniinsurance.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>