{{! showcase }}

<section class="bg-secondary text-light p-5 text-center text-sm-start">
  <div class="container mt-4 pt-4">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>PIA <span class="text-warning">Insurance Agency</span></h1>
        <p class="lead my-4">Providing insurance to businesses and individuals along central Texas since 2022!</p>
        <a href="/quote"><button class="btn btn-warning btn-lg">Start A New Quote</button></a>
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="showcase.svg" alt="" />
    </div>
  </div>
</section>

{{! feature boxes }}
<section class="p-5 bg-white" id="features">
  <div class="container">
    <h2 class="text-center mb-4">Our Services</h2>
    <div class="row text-center g-4 py-5">
      <div class="col-md">
        <div class="card-body bg-dark text-light py-5">
          <div class="h1 mb-3">
            <i class="bi bi-house-door"></i>
            <i class="bi bi-truck"></i>
          </div>
          <h3 class="card-title mb-3">
            Home & Auto Insurance
          </h3>
          <p class="card-text">
            Keeping you protected with our home and auto insurance by providing the best deals for you.
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="card-body bg-warning text-dark py-5">
          <div class="h1 mb-3">
            <i class="bi bi-briefcase"></i>
          </div>
          <h3 class="card-title mb-4">
            Business Insurance
          </h3>
          <p class="card-text">
            We offer an exceptional service for large and small companies to provide the best insurance for your business.
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="card-body bg-dark text-light py-5">
          <div class="h1 mb-3">
            <i class="bi bi-people"></i>
          </div>
          <h3 class="card-title mb-3">
           Life Insurance
          </h3>
          <p class="card-text">
            We have the ability to quote through multiple carriers to provide our customers with the best possible package.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

{{!about us }}
<section class="p-5 bg-light" id="about">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img class="img-fluid" src="section-1.svg" alt="" />
      </div>
      <div class="col-md p-5">
        <h2>About <span class="text-warning">PIA</span> Insurance Agency</h2>
<<<<<<< HEAD
        <p class="lead">We take time to better understand our clients and their insurance needs.</p>
=======
        <p class="lead">We take the time to better understand our clients and their insurance needs.</p>
>>>>>>> 4820b65bff473f710b4043d4103c77c99d8eee1b
        <p>As an esteemed insurance brokerage, we serve personal and business customers by working closely with our clients to determine the appropriate type of coverage they need. We select the best coverage at the right price and mange each enrollment with great care.</p>
        <a href="#" class="btn btn-warning mt-3">
          <i class="bi bi-chevron-right"></i>
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>

{{! Question Section }}

<section class="p-5 bg-white" id="questions">
  <div class="container my-5">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="questions">
      {{! item 1 }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Where exactly are we located?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">15900 La Cantera Pkwy Suite 6698, San Antonio, TX 78256</div>
        </div>
      </div>
      {{! item 2 }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            How does pricing work?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#questions"
        >
          <div class="accordion-body"> Pricing will be based off your specific needs for coverage, but at PIA we strive to find you the best possible package, searching through our catalog of over 100 different providers <a href="/quote">Start A Quote</a></div>
        </div>
      </div>
      {{! item 3 }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            How to create an account?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#questions"
        >
          <div class="accordion-body"> You can create an account right here! click <a href="/register">register</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

{{! meet the team }}
<section class="p-5 bg-warning" id="team">
  <div class="container">
    <h2 class="text-center text-dark mt-3">Our Team</h2>
    <p class="lead text-center text-dark mb-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, iusto.
    </p>
    <div class="row g-4 mb-5">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/flo.jpg"
              class="rounded-circle mb-3 img-fluid"
              alt=""
            />
            <h3 class="card-title mb-3">
              Flo Doe
            </h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, corrupti officia? Sunt cupiditate ducimus tenetur.
            </p>
            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/gecko.jpg"
              class="rounded-circle mb-3 img-fluid"
              alt=""
            />
            <h3 class="card-title mb-3">
              Gecko Doe
            </h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, corrupti officia? Sunt cupiditate ducimus tenetur.
            </p>
            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/jake.jpg"
              class="rounded-circle mb-3 img-fluid"
              alt=""
            />
            <h3 class="card-title mb-3">
              Jake Smith
            </h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, corrupti officia? Sunt cupiditate ducimus tenetur.
            </p>
            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/mayhem.jpg"
              class="rounded-circle mb-3 img-fluid"
              alt=""
            />
            <h3 class="card-title mb-3">
              Mayhem Smith
            </h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, corrupti officia? Sunt cupiditate ducimus tenetur.
            </p>
            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{! contact section }}

<section class="p-5 bg-light" id="contact">
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card border-0 shadow py-5">
          <div class="card-body">
            <h2 class="text-center mb-5">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold"><i class="bi bi-geo-alt-fill pe-3"></i> </span>
                50 Main st Boston MA
              </li>
              <li class="list-group-item">
                <span class="fw-bold"><i class="bi bi-telephone-fill pe-3"></i>
                </span>
                (555) 555-5555
              </li>
              <li class="list-group-item">
                <span class="fw-bold"><i class="bi bi-envelope-fill pe-3"></i>
                </span>
                enroll@email.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>