{{! showcase }}

<section class=" text-light p-5 text-center text-sm-start" id="secColor">
  <div class="container mt-4 pt-4">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1 id="title-p1">PIA <span id="title-p2">Insurance Agency</span></h1>
        <p class="lead my-4">Providing insurance to businesses and individuals along central Texas since 2022!</p>
        <a href="/quote"><button class="btn btn-lg" id="quote-btn">Start A New Quote</button></a>
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="showcase.svg" alt="" />
    </div>
  </div>
</section>

{{! feature boxes }}
<section class="p-5 section-boxes" id="features">
  <div class="container" id>
    <h2 class="text-center mb-4">Our Services</h2>
    <div class="row text-center g-4 py-5">
      <div class="col-md">
        <div class="card-body text-light py-5" id="mainColor">
          <div class="h1 mb-3">
            <i class="bi bi-briefcase"></i>
          </div>
          <div class="container-p">
            <div class="row overlay">
                  <div class="col align-self-start align-items-center overlay-text">
                    <h1>Personal Lines Carriers</h1>
                    <ul class="align-self-start">
                      <li>
                        <a href="https://www.allstate.com/landingpages/lsp/auto-brand-general-desktop.html?CMP=KNC-T1-NA-DSK-GG-AU-MISC-B-070805-200515:allstate&TFN=&CAMPAIGN=444490000070805&affcode=p69521846030&gclid=CjwKCAjwu_mSBhAYEiwA5BBmf7PFV2_vCiynd8yq1Jfw4ZhOwzK6otfOMW_6Pd-9EQFygr52tHOD0BoC218QAvD_BwE&gclsrc=aw.ds" target="_blank">AllState</a>
                      </li>
                      <li>
                        <a href="https://www.foremost.com/" target="_blank">Foremost</a>
                      </li>
                      <li>
                        <a href="https://www.americanriskins.com/" target="_blank">Homeowners Of America</a>
                      </li>
                      <li>
                        <a href="https://www.lemonade.com/?utm_source=google-search-brand_rent_us_bau_prospect&utm_medium=ua&utm_campaign=12961625656&utm_term=123509666844_lemonade%20insurance&utm_content=519049517470" target="_blank">Lemonade</a>
                      </li>
                      <li>
                        <a href="https://www.nationwide.com/sem/brand-b2-pey.html?&utm_medium=cpc&utm_source=google&utm_campaign=ni&utm_content=brand:desktop:google:na:um:na:brand-core-nw-brand-click-exact-brand&utm_term=nationwide&engine=GoogleBrandGeneric&TFN=18888910148&tfn=18888910148&gclid=CjwKCAjwu_mSBhAYEiwA5BBmfybiuDZir0qvllv-ZkYSXALNSoQ31vt56c0KZxYX_JUDJaOsgn7ElRoC3P8QAvD_BwE" target="_blank">Nationwide</a>
                      </li>
                      <li>
                        <a href="https://www.progressivecommercial.com" target="_blank">Progressive</a>
                      </li>
                      <li>
                        <a href="https://www.safeco.com/" target="_blank">SafeCo</a>
                      </li>
                      <li>
                        <a href="https://www.stateauto.com/" target="_blank">State Auto</a>
                      </li>
                      <li>
                        <a href="https://www.travelers.com/go/pi/dtc/brand.html?sponsor=beta72&prd=0M4803&tfn=8662367094&type=brand&obj=acqn&mm=web&mmt=ps&div=pi&mpg=bau&creative=pst&cc=di&prt=auto&dvc=dsktop&pub=Google&cmp=Brand+General+-+TX&grp=Travelers+-+Exact&plc=travelers&gclid=CjwKCAjw9e6SBhB2EiwA5myr9s5jxVN9pYsflsO0McpBF4Il14oMy8239csxJ_lfjciZmKU2nUR8choCyC4QAvD_BwE&gclsrc=aw.ds" target="_blank">Travelers</a>
                      </li>
                      <li>
                        <a href="https://www.wellingtoninsgroup.com/" target="_blank">Wellington</a>
                      </li>
                    </ul>
                  </div>
            </div>
            <h3 class="card-title mb-4">
              Home and Auto Insurance
            </h3>
            <p class="card-text">
              We offer an exceptional service for various types of risk. Whether you live on the coast line or in the hill country we have the right coverage for you.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card-body text-light py-5" id="thirdColor">
          <div class="h1 mb-3">
            <i class="bi bi-briefcase"></i>
          </div>
          <div class="container-c">
            <div class="row overlay">
                  <div class="col align-self-center align-items-center overlay-text">
                    <h1>Commercial Lines Carriers</h1>
                    <ul>
                      <li>
                        <a href="https://www.allstate.com/landingpages/lsp/auto-brand-general-desktop.html?CMP=KNC-T1-NA-DSK-GG-AU-MISC-B-070805-200515:allstate&TFN=&CAMPAIGN=444490000070805&affcode=p69521846030&gclid=CjwKCAjwu_mSBhAYEiwA5BBmf7gmlEn6f3xvqlKha_jxExLPtIVSfH6fGp_Hf0g-fUcrIXdpiRixtBoCNdwQAvD_BwE&gclsrc=aw.ds" target="_blank">Allstate</a>
                      </li>
                      <li>
                        <a href="https://www.biberk.com" target="_blank">Berkshire Hathaway Homestate Companies</a>
                      </li>
                      <li>
                        <a href="https://www.chubb.com/us-en/?gclsrc=aw.ds&&gclid=CjwKCAjwu_mSBhAYEiwA5BBmf08i5pJqA7Lvp3P-_HCfmBUWeJ4qJGzqj1xKnwBSaA5uTS9v_SDoYRoC8EkQAvD_BwE&gclsrc=aw.ds#" target="_blank">Chubb</a>
                      </li>
                      <li>
                        <a href="https://www.thehartford.com" target="_blank">Hartford</a>
                      </li>
                      <li>
                        <a href="https://www.infinityauto.com" target="_blank">Infinity</a>
                      </li>
                      <li>
                        <a href="https://www.kemper.com" target="_blank">Kemper</a>
                      </li>
                      <li>
                        <a href="https://www.libertymutual.com/multi-online-quotes?cid=ppc&cmpgncde=290&keyCode=ISPMB0G0&src=im-dpds-brd-ggl1208135985&ksid&gclid=CjwKCAjwu_mSBhAYEiwA5BBmfyY4Z91BFIrFZmN_Xaab5cmxqvmvitod3kTlYnnBT3RhWjBjdi5TNxoCnaYQAvD_BwE" target="_blank">Liberty Mutual</a>
                      </li>
                      <li>
                        <a href="https://www.markel.com" target="_blank">Markel</a>
                      </li>
                      <li>
                        <a href="https://www.progressivecommercial.com" target="_blank"> Progressive</a>
                      </li>
                      <li>
                        <a href="https://www.stateauto.com" target="_blank">State Auto</a>
                      </li>
                      <li>
                        <a href="https://www.travelers.com" target="_blank">Travelers</a>
                      </li>
                    </ul>
                  </div>
            </div>
            <h3 class="card-title mb-4">
              Business Insurance
            </h3>
            <p class="card-text">
              We offer an exceptional service for large and small companies to provide the best insurance for your business.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card-body text-light py-5" id="mainColor">
          <div class="h1 mb-3">
            <i class="bi bi-people"></i>
          </div>
          <div class="container-l">
            <div class="row overlay">
                  <div class="col align-self-center align-items-center overlay-text">
                    <h1>Life Insurance Carrier</h1>
                    <ul>
                      <li>
                        <a href="https://www.hermannsonslife.org" target="_blank">Hermann Sons Life</a>
                      </li>
                    </ul>
                  </div>
            </div>
          <h3 class="card-title mb-3 pb-2">
           Life Insurance
          </h3>
          </div>
          <p class="card-text">
            Protect your family financially with Life insurance. If you're interested in a personal quote, contact PIA and we will provide you with the information you need
          </p>
        </div>
      </div>

    </div>
  </div>
  {{!-- safeCo quoting tool --}}
  {{!-- <iframe src='https://tools.safeco.com/safeconow/wide.html?id=053909' height='127px' width='393px' frameborder='0'></iframe> --}}
</section>

{{!about us }}
<section class="p-5 bg-light" id="about">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img class="img-fluid" src="section-1.svg" alt="" />
      </div>
      <div class="col-md p-5">
        <h2>About <span class="about-PIA">PIA</span> Insurance Agency</h2>
        <p class="lead">We take the time to better understand our clients and their insurance needs.</p>
        <p>As an esteemed insurance brokerage, we serve personal and business customers by working closely with our clients to determine the appropriate type of coverage they need. We select the best coverage at the right price and mange each enrollment with great care.</p>
        <a href="information" class="btn btn-warning mt-3">
          <i class="bi bi-chevron-right"></i>
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>

{{! Question Section }}

<section class="p-5 bg-white" id="questions">
  <div class="container my-5">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="questions">
      {{! item 1 }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Dose PIA offer more than Home and Auto insurance?
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">We offer Business insurance, Life insureance, Motorcycle insurance, and many more forms on insureance.
            <br />Click here to see a full list of our services.
            <br /><a href="/information" class="btn btn-warning mt-3">
          <i class="bi bi-chevron-right"></i>
          Services
        </a></div>
        </div>
      </div>
      {{! item 2 }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            How does pricing work?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#questions"
        >
          <div class="accordion-body"> Pricing will be based off your specific needs for coverage, but at PIA we strive to find you the best possible package, searching through our catalog of over 100 different providers<a href="/quote">Start A Quote</a></div>
        </div>
      </div>
      {{! item 3 }}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            How to create an account?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#questions"
        >
          <div class="accordion-body"> You can create an account right here! click <a href="/">(Coming Soon)</a></div>
          {{!-- <div class="accordion-body"> You can create an account right here! click <a href="/register">register</a></div> --}}
        </div>
      </div>
    </div>
  </div>
</section>

{{! meet the team }}
<section class="p-5" id="team">
  <div class="container">
    <h2 class="text-center mt-3">Our Team</h2>
    <p class="lead text-center mb-5 border-bottom">
      PIA Licensed professionals
    </p>
    <div class="row g-4 mb-5">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="images/John.JPG"
              class=".img-thumbnail mb-3 img-fluid justify-content-center"
              alt=""
            />
            <h3 class="card-title mb-3">
              John Pacini
            </h3>
            <p class="card-text text-dark">
              John Pacini is the owner of Pacini Insurance Agency - PIA.
            </p>
              <br/>
            <p class="card-text text-dark">
              John built PIA because of the need in the insurance industry that a modern company could solve. PIA will be that company by taking old insurance practices and adapting them to the new way of doing business. PIA is an online insurance brokerage that will provide an online service that will allow you to control your policies from the comfort of your home.
            </p>
            {{!-- <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a> --}}
            <a href="https://www.facebook.com/profile.php?id=100080167124353" target="_blank"><i class="bi bi-facebook text-dark mx-1"></i></a>
            <a href="https://www.linkedin.com/in/john-pacini-b2579b219/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a>
            <a href="https://www.instagram.com/_johnpac/" target="_blank"><i class="bi bi-instagram text-dark mx-1"></i></a>
          </div>
        </div>

    </div>
  </div>
</section>

{{! contact section }}

<section class="p-5 bg-light" id="contact">
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card border-0 shadow py-5">
          <div class="card-body">
            <h2 class="text-center mb-5">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold"><i class="bi bi-geo-alt-fill pe-3"></i> </span>
                San Antonio, Tx
              </li>
              <li class="list-group-item">
                <span class="fw-bold"><i class="bi bi-telephone-fill pe-3"></i>
                </span>
                (210)-844-7182
              </li>
              <li class="list-group-item">
                <span class="fw-bold"><i class="bi bi-envelope-fill pe-3"></i>
                </span>
                John@paciniinsurance.com
              </li>
              <div class="col">
                <a href="https://www.facebook.com/profile.php?id=100080167124353" target="_blank"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="https://www.linkedin.com/in/john-pacini-b2579b219/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="https://www.instagram.com/_johnpac/" target="_blank"><i class="bi bi-instagram text-dark mx-1"></i></a>

              </div>
          
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>