<section class="p-5 min-vh-100">
  <div class="container mt-5 pt-5">
    <div class="row text-center">
      <div class="col-12 m-auto">
        <div class="card border-0 shadow bg-white">
          <div class="card-body" id="flyer_card">
              <h1>About PIA</h1>
            <embed src="images/About.pdf" width="800px" height="1100px" />
            <h1></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>