    <section>
      <h2>Add New Auto Policy</h2>
        <form class="new-auto-form">
          <input type="number" name="" id="owner-id" class="form-control my-4 py-2" placeholder="Customer ID">
          <input type="text" name="" id="company-auto" class="form-control my-4 py-2" placeholder="Company Name">
          <input type="number" name="" id="premium-auto" class="form-control my-4 py-2" placeholder="Annual Premium">
          <input type="number" name="" id="policy-auto" class="form-control my-4 py-2" placeholder="Policy Number">
          <input type="text" name="" id="exp-date-auto" class="form-control my-4 py-2" placeholder="Expiration Date">
          <input type="text" name="" id="vehicle-auto" class="form-control my-4 py-2" placeholder="Vehicle">
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-warning my-3">Add Auto</button><br>
          </div>
        </form>
    </section>
