    <section>
      <h2>Add New Homeowner Policy</h2>
        <form class="new-auto-form">
          <input type="number" name="" id="owner-id" class="form-control my-4 py-2" placeholder="Customer ID">
          <input type="text" name="" id="company-home" class="form-control my-4 py-2" placeholder="Company Name">
          <input type="number" name="" id="premium-home" class="form-control my-4 py-2" placeholder="Annual Premium">
          <input type="number" name="" id="policy-home" class="form-control my-4 py-2" placeholder="Policy Number">
          <input type="text" name="" id="exp-date-home" class="form-control my-4 py-2" placeholder="Expiration Date">
          <input type="text" name="" id="address-home" class="form-control my-4 py-2" placeholder="Address">
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-warning my-3">Add Homeowner</button><br>
          </div>
        </form>
    </section>
    <script src="/javascript/newhomeowner.js"></script>