<form class="signup-form">
    <div>
    <label for="firstname-signup">First Name:</label>
    <input type="text" id="firstname-signup" />
  </div>
    <div>
    <label for="lastname-signup">Last Name:</label>
    <input type="text" id="lastname-signup" />
  </div>
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
<script src="/javascript/register.js"></script>