<section class="p-5 min-vh-100">
    <div class="container mt-5 pt-5">
        <div class="row text-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card border-0 shadow bg-white">
                    <div class="card-body">
                        <div class="h1">
                           <i class="bi bi-people"></i>  <span class="h3">Quote Information</span> 
                        </div>
                        <form action="mailto:johnpac15@yahoo.com?subject=New Quote Request" method="post" enctype="text/plain">
                            <h1>Personal Information</h1>
                                {{#if loggedIn}}
                                <input type="name" name="name" id="name" class="form-control my-4 py-2" placeholder="name" value="{{user.first_name}} {{user.last_name}}">
                                <input type="email" name="email" id="email" class="form-control my-4 py-2" placeholder="email" value="{{user.email}}">
                                 {{else}}
                                 <input type="name" name="name" id="name" class="form-control my-4 py-2" placeholder="name">
                                <input type="email" name="email" id="email" class="form-control my-4 py-2" placeholder="email">
                                {{/if}}
                                <input type="text" name="street address" id="street-address" class="form-control my-4 py-2" placeholder="Street address">
                                <input type="text" name="city" id="city" class="form-control my-4 py-2" placeholder="City">
                                <input type="text" name="state" id="State" class="form-control my-4 py-2" placeholder="State">
                                <input type="number" name="zip code" id="Zip code" class="form-control my-4 py-2" placeholder="Zip code">
                                <input type="tel" name="phone number" id="phone" class="form-control my-4 py-2" placeholder="phone"><br>
                            <h1>House Information</h1>
                                <input type="text" name="year built" id="year-built" class="form-control my-4 py-2" placeholder="Year built?">
                                <input type="text" name="dwelling value" id="dwelling-value" class="form-control my-4 py-2" placeholder="Dwelling value?">
                                <input type="text" name="foundation type" id="foundation type" class="form-control my-4 py-2" placeholder="foundation type?">
                                <input type="text" name="stories" id="stories" class="form-control my-4 py-2" placeholder="stories?">
                                <input type="text" name="siding" id="siding" class="form-control my-4 py-2" placeholder="type of siding?">
                                <input type="text" name="roof type" id="roof-type" class="form-control my-4 py-2" placeholder="type of roof?">
                                <input type="text" name="roof age" id="roof-age" class="form-control my-4 py-2" placeholder="Age of roof?">
                                <input type="text" name="sqft" id="square-footage" class="form-control my-4 py-2" placeholder="Square footage of your home?">
                                <input type="text" name="acres" id="acres" class="form-control my-4 py-2" placeholder="How many acres do you live on?">
                                <input type="text" name="closing date" id="closing-date" class="form-control my-4 py-2" placeholder="When is your closing date">
                                <input type="text" name="farm/ranch" id="farm-ranch" class="form-control my-4 py-2" placeholder="Do you live on a farm or ranch?">
                            <h1>Auto Information</h1><br>
                            <div id="driver-div">
                                <h2>Driver Information</h2>
                                <input type="text" name="driver name" id="driver-name" class="form-control my-4 py-2" placeholder="Driver Name?">
                                <input type="text" name="DL" id="DL" class="form-control my-4 py-2" placeholder="DL number?">
                                <input type="text" name="DOB" id="DOB" class="form-control my-4 py-2" placeholder="Driver DOB?">
                                <input type="text" name="Occupation" id="Occupation" class="form-control my-4 py-2" placeholder="Driver Occupation?">
                                <br>
                                <div id="new-driver"></div>
                                <button id="driver" type="click" class="btn btn-primary my-3" value="">Add a Driver</button>
                                <br>
                                <h2>Vehicle Information</h2>
                                <input type="text" name="vehicle year" id="vehicle-year" class="form-control my-4 py-2" placeholder="vehicle year?">
                                <input type="text" name="vehicle make" id="vehicle-make" class="form-control my-4 py-2" placeholder="vehicle make?">
                                <input type="text" name="vehicle model" id="vehicle-model" class="form-control my-4 py-2" placeholder="vehicle model?">
                                <input type="text" name="VIN" id="VIN" class="form-control my-4 py-2" placeholder="VIN?">
                                <input type="text" name="vehicle usage" id="vehicle-usage" class="form-control my-4 py-2" placeholder="vehicle usage?">
                                <input type="text" name="lien Holder" id="lien-Holder" class="form-control my-4 py-2" placeholder="Lien Holder?">
                                <input type="text" name="deductible" id="deductible" class="form-control my-4 py-2" placeholder="Deductible?">
                                 <br>
                                <div id="new-vehicle"></div>
                                <button id="vehicle" type="click" class="btn btn-primary my-3" value="">Add a Vehicle</button>
                                <br>
                            </div>

                                <input type="submit" class="btn btn-warning my-3" id="email-submit"><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="javascript/quote.js"></script>
