<section class="p-5 min-vh-100">
    <div class="container mt-5 pt-5">
        <div class="row text-center">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card border-0 shadow bg-white">
                    <div class="card-body">
                        <div class="h1">
                           <i class="bi bi-people"></i>  <span class="h3">Quote Information</span> 
                        </div>
                        <h1>Person Information</h1>
                        <form class="Address-form">
                            <input type="text" name="" id="street-address" class="form-control my-4 py-2" placeholder=" Street address">
                            <input type="text" name="" id="city" class="form-control my-4 py-2" placeholder="City">
                            <input type="text" name="" id="State" class="form-control my-4 py-2" placeholder="State">
                            <input type="text" name="" id="Zip code" class="form-control my-4 py-2" placeholder="Zip code">
                            <input type="text" name="" id="phone" class="form-control my-4 py-2" placeholder="phone">
                        </form>
                        <h1>House Information</h1>
                        <form class="house-form">
                            <input type="text" name="" id="year-built" class="form-control my-4 py-2" placeholder="Year built?">
                            <input type="text" name="" id="dwelling-value" class="form-control my-4 py-2" placeholder="Dwelling value?">
                            <input type="text" name="" id="foundation" class="form-control my-4 py-2" placeholder="Foundation type?">
                            <input type="text" name="" id="stories" class="form-control my-4 py-2" placeholder="stories?">
                            <input type="text" name="" id="siding" class="form-control my-4 py-2" placeholder="type of siding?">
                            <input type="text" name="" id="roof-type" class="form-control my-4 py-2" placeholder="type of roof?">
                            <input type="text" name="" id="roof-age" class="form-control my-4 py-2" placeholder="Age of roof?">
                            <input type="text" name="" id="square-footage" class="form-control my-4 py-2" placeholder="Square footage of your home?">
                            <input type="text" name="" id="acres" class="form-control my-4 py-2" placeholder="How many acres do you live on?">
                            <input type="text" name="" id="closing-date" class="form-control my-4 py-2" placeholder="When is your closing date">
                            <input type="text" name="" id="farm-ranch" class="form-control my-4 py-2" placeholder="Do you live on a farm or ranch?">
                        </form>
                        <h1>Auto Information</h1>
                        <form class="house-form">
                            <input type="text" name="" id="year-built" class="form-control my-4 py-2" placeholder="Year built?">
                            <input type="text" name="" id="dwelling-value" class="form-control my-4 py-2" placeholder="Dwelling value?">
                            <input type="text" name="" id="foundation" class="form-control my-4 py-2" placeholder="Foundation type?">
                            <input type="text" name="" id="stories" class="form-control my-4 py-2" placeholder="stories?">
                            <input type="text" name="" id="siding" class="form-control my-4 py-2" placeholder="type of siding?">
                            <input type="text" name="" id="roof-type" class="form-control my-4 py-2" placeholder="type of roof?">
                            <input type="text" name="" id="roof-age" class="form-control my-4 py-2" placeholder="Age of roof?">
                            <input type="text" name="" id="square-footage" class="form-control my-4 py-2" placeholder="Square footage of your home?">
                            <input type="text" name="" id="acres" class="form-control my-4 py-2" placeholder="How many acres do you live on?">
                            <input type="text" name="" id="closing-date" class="form-control my-4 py-2" placeholder="When is your closing date">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <input type="password" name="" id="password-register" class="form-control my-4 py-2" placeholder="password">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="policyowner" name="policyowner" value="true" role="switch">
                                <label class="form-check-label" for="policyowner">Do you already have a policy with PIA</label>
                            </div>
                            <div class="text-center mt-3">
                                <button id="home" type="click" class="btn btn-primary my-3" value="home">Homwowners Quote</button>
                            </div>
                            <div class="text-center mt-3">
                                <button id="auto" type="button" class="btn btn-primary my-3" value="auto">Auto Quote</button>
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-warning my-3">Register</button><br>
                                <a href="/login" class="text-decoration-none">Already have an account ? Login here.</a>
                            </div>