body::before {
    display: block;
    content: '';
    height: 60px;
}

#team img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

/* #logo{
    background-image: url(/images/PIA-large.jpg);
    background-repeat: no-repeat;
    height: 30px;
} */